body{
 background-color:rgb(245,245,245);

}
 h1,h2,h3,h4,h5,h6{

   color:rgb(33,33,33);


}

p{
color:rgb(70,70,70);

}
 
.wrapper {
 background-color: white;
            
 }

 .box {
  border: 1px solid #ccc; 
            
        }

 header {
  align: center;
         
        }
.header-brand, .nav-links {
            padding: 10px 0;
        }
        
.header-brand h1 {
            margin: 0;
            color: #007bff; /* Example accent color */
        }
        
.nav-links a {
            text-decoration: none;
            color: rgb(33, 33, 33);
            margin-left: 20px;
            font-weight: 500;
        }



.main-content {         
 border: 1px solid; 
           
        }

.sidebar {
background-color: rgb(250, 250, 250);
            
        }

footer {
color: rgb(33, 33, 33);
            
        }