.box {
    width: 200px;
    height: 100px;
    background: lightblue;
    border: 2px solid navy;
    margin: 10px;
    padding: 10px;
    font-size: 20px;
} 

.box1 {
    position: static; 
}

.box2 {
    position: relative;
    left: 20px;   
    top: 30px;  
    background: lightgreen;
}

.box3 {
    background: lightcoral;
    position: static;
}
